.mainBody {
	height: calc(2000px + 45vh);
	width: 100%;
	background-color: #616161;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.quickAccessElement {
	background-color: #454545;
	border-radius: 15px;
	width: 50%;
	min-width: 520px;
	height: 17.5%;
	margin-top: 35px;
	box-shadow: 0 0 32px rgb(0 0 0 / 15%);
	position: relative;
	transition: 0.2s;
}

.quickAccessElement:hover {
	width: 55%;
	min-width: 570px;
	height: 21%;
}

.quickAccessElement:hover > .arrow_SVG {
	color: #fff;
}

.quickAccessElement > img {
	display: block;
	width: 500px;
	padding-right: calc((100% - 500px)/2);
	padding-left: calc((100% - 500px)/2);
	padding-top: 25px;
	padding-bottom: 25px;
	background: white;
	border-radius: 15px 15px 0px 0px;
	transition: 0.2s;
}

.quickAccessElement:hover > img {
	width: calc(500px + 5%);
	padding-right: calc((95% - 500px)/2);
	padding-left: calc((95% - 500px)/2);
}

.quickAccessContent {
	margin: 5%;
	color: #DCB2FF;
}

.quickAccessContent > h1 {
	text-decoration: none;
	width: fit-content;
	border-bottom: 3.5px solid;
	border-color: #dcb2ff00;
	transition: 0.5s;
}

.quickAccessElement:hover .quickAccessContent > h1 {
	border-color: #dcb2ff;
}

.quickAccessContent > p {
	margin-top: 10px;
	font-size: 18px;
	color: #eee2fe;
}

.arrow_SVG {
	transition: 0.5s;
	/*color: #914acc;*/
	color: #DCB2FF;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 5%;
	bottom: 10%;
}

#creditLabel {
	color: white;
    position: absolute;
    text-align: right;
    right: 0;
    bottom: 0;
}

#creditLabel > b {
    font-weight: normal;
    color: #ffffff80;
    font-style: italic;
}

@media (max-width: 750px) {
	.quickAccessElement {
		min-width: 90%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.quickAccessElement:hover {
		min-width: 90%;
		height: 20%;
	}

	.quickAccessElement > img {
		display: none;
	}

	.quickAccessContent > h1 {
		font-size: 22px;
		text-align: center;
	}

	.quickAccessContent > p {
		font-size: 15px;
		margin-top: 5px;
	}

	.arrow_SVG {
		right: 35px;
	}

	.quickAccessElement:hover .arrow_SVG {
		transform: translate(15px, 0px);
	}
}