* {
	font-family: "Helvetica", sans-serif;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

nav {
	z-index: 1001;
	background-color: #121212;
	color: white;
	position: sticky;
	top: 0px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

nav > a:not(#logo) {
	display: flex;
	/*color: #c8c8c8;*/
	color: #dcb2ff;
	text-decoration: none;
	margin: 0px 20px;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}

nav > a:not(#logo):hover {
	color: #ffffff;
}

nav img {
	width: 100px;
	margin-right: 10px;
}

nav > button:not(#navSettingsButton) {
	background-color: inherit;
	border: none;
	margin-left: 10px;
}

#githubLink {
	right: 9%;
	position: absolute;
}

#githubLink > i {
	font-size: 40px;
	color: #dcb2ff;
	transition: color ease 300ms;
}

#githubLink:hover > i {
	color: #ffffff;
}

/*--------------------Settings--------------------:*/

#navSettingsButton {
	background: none;
	cursor: pointer;
	border: none;
	color: #dcb2ff;
	font-size: 35px;
	transform: rotate(0deg);
	transition: color 300ms ease, transform 300ms ease;
}

#navSettingsButton:hover, #settingsContainer[data-settings_open="true"] > #navSettingsButton:not(#navSettingsButton:active) {
	color: #fff;
}

#settingsContainer[data-settings_open="true"] > #navSettingsButton:not(#navSettingsButton:active) {
	transform: rotate(360deg);
}

#navSettingsButton:active {
	color: #888888
}

#settingsContainer {
	display: flex;
	align-items: center;
	position: absolute;
	right: 3%;
	height: 100%;
}

#settingsContainer > ul {
	visibility: hidden;
	padding: 15px;

	position: absolute;
	top: 120%;
	right: 0%;

	border-radius: 15px 0 15px 15px;

	list-style: none;
	background-color: black;
	width: 300px;
	height: 200px;
	box-shadow: -15px 15px 25px #00000080;
}

#settingsContainer > ul > li {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
    margin-bottom: 15px;
}

#settingsContainer > ul > li > p {
	margin-right: 15px;
}

#settingsContainer > ul > li i {
	font-size: 30px;
}

#settingsContainer[data-settings_open="true"] > ul {
	visibility: visible;
}

.activeSettingsButton {
	background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.activeSettingsButton > i {
	background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/*-------------------------------------------------:*/

.flashcardIcon {
	background-image: url('../resources/icons/flashcards.png');
	background-repeat: no-repeat;
	background-size: 100%;
	aspect-ratio: 1 / 1;
	height: 75px;
	width: 75px;
	display: block;
}

@media (max-width: 750px) {
	nav img {
		width: 60px;
		margin-right: 5px;
	}
}