* {
	font-family: "Helvetica", sans-serif;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

nav {
	z-index: 1001;
	background-color: #121212;
	color: white;
	position: sticky;
	top: 0px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

nav > a:not(#logo) {
	display: flex;
	/*color: #c8c8c8;*/
	color: #dcb2ff;
	text-decoration: none;
	margin: 0px 20px;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}

nav > a:not(#logo):hover {
	color: #ffffff;
}

nav img {
	width: 100px;
	margin-right: 10px;
}

nav > button {
	background-color: inherit;
	border: none;
	margin-left: 10px;
}

.navbar_SVG {
	width: 2em;
	height: 2em;
	vertical-align: middle;
	color: #dcb2ff;
	transition: 0.2s;
}

.navbar_SVG:hover {
	color: #ffffff;
}

.flashcardIcon {
	background-image: url('../resources/icons/flashcards.png');
	background-repeat: no-repeat;
	background-size: 100%;
	aspect-ratio: 1 / 1;
	height: 75px;
	width: 75px;
	display: block;
}

@media (max-width: 750px) {
	nav img {
		width: 60px;
		margin-right: 5px;
	}
}