.mainBody > h1.chapterTitle {
	text-align: center;
	text-decoration: underline;
	margin: 30px 0px 30px 0px;
	color: #DCB2FF;
	font-size: 48px;
}

.mainBody > h2 {
	color: #aff0ff;
	font-size: 28px;
}

.mainBody > ul {
	font-size: 22px;
	color: #ddeefde3;
}

.chapterTitle::before {
	content: "Chapitre: ";
}

.mainBody > p {
	color: #fff;
	margin: 18px 5vw 18px 5vw;
	text-align: justify;
	font-size: 19px;
}

.mainBody:has( p:hover) #cursorFollower{
	opacity: 0;
}

.descriptionInteractable {
	margin: 20px 0px 20px 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.descriptionInteractable > p {
	width: 510px;
	text-align: justify;
	margin-right: 20px;
	color: #c2c2c2;
	font-size: 19px;
	height: fit-content;
}

.descriptionInteractable > p > mark {
    background-color: inherit;
    color: azure;
    border-bottom: 2px solid;
    border-color: #f0ffff00;
    transition: border-color 200ms ease;
}

.descriptionInteractable > p > mark:hover {
    border-color: #f0ffff;
}