.mainBody {
	width: 100%;
	height: 1800px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;

	background-color: #585757;
}

/*
--------------------------------------------------------------------
------------------------------Previews------------------------------
--------------------------------------------------------------------
*/

/*--------------Preview Wrapper:--------------*/

.previewWrapper {
	position: relative;
	overflow: hidden;
}

.previewWrapper img {
	filter: blur(9px);
	width: 100%;
	transition: all ease 300ms;
}

.previewWrapper:hover img {
	filter: blur(0px);
}

.previewWrapper > p {
	position: absolute;
	font-size: 23px;
	
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;
	opacity: 1;
	pointer-events: none;
	transition: opacity ease 300ms;
}

.previewWrapper:hover > p {
	opacity: 0;
}

/*--------------PDF Wrapper:--------------*/

.previewWrapper.pdfType {
	width: 450px;
	height: 636px;
}

.previewWrapper.pdfType img {
	filter: blur(11px);
}

.previewWrapper:hover.pdfType img {
	filter: blur(0px);
}

/*--------------Video/Link Previews:--------------*/

.previewWrapper.videoType, .previewWrapper.linkType {
	width: 500px;
	height: 300px;
}

.previewWrapper.videoType > p, .previewWrapper.linkType > p {
	
}

.previewWrapper.videoType > p > mark, .previewWrapper.linkType > p > mark {
	background-color: #ffffff6b;
	border-radius: 7px;
	padding: 5px;
}

/*
------------------------------------------------------------------
---------------------------Index page-----------------------------
------------------------------------------------------------------
*/

.chapterElement {
	cursor: pointer;
	background-color: #483570;
	border-radius: 15px;
	width: 80%;
	height: 300px;
	margin-top: 30px;
	margin-bottom: 15px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

	box-shadow: 15px 17px 40px #00000050;
}

.imgWrapper {
	display: inline-block;
	overflow: hidden;
	border-radius: 15px 0px 0px 15px;
	height: 100%;
}

.chapterElement img {
	filter: blur(1px);
}

.chapterElement:hover img {
	filter: blur(0px);
	transform: scale(1.5);
}

.chapterText {
	color: #ffffff;
	width: calc(100% - 500px);
	position: relative;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.chapterText > i {
	bottom: 10%;
	right: 15%;
	position: absolute;
	font-size: 35px;
	transition: right ease 200ms;
}

.chapterElement:hover .chapterText > i {
	right: 10%;
}

.chapterText > h1 {
	text-decoration: underline;
	font-size: 38px;
}

.chapterText > ul {font-size: 21px;}

/*
------------------------------------------------------------------
------------------------------Cursor------------------------------
------------------------------------------------------------------
*/

#cursorFollower {
	position: fixed;
	background-color: #424242;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	z-index: 1000;

	pointer-events: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	opacity: 0;
	transition: opacity ease 500ms;
}

#cursorFollower > p {
	position: absolute;
	font-size: 10px;
	bottom: 5%;
	color: #dcb2ff;
	opacity: 0;
	transition: opacity ease 300ms;
}

.mainBody:hover #cursorFollower {
	opacity: 1;
}

#cursorFollower > i {
	color: #dcb2ff;
	font-size: 20px;
	transform: rotate(315deg);
}

@media (max-width: 750px) {
	.mainBody:hover #cursorFollower {
		opacity: 0;
	}
}