nav {
	z-index: 1001;
}

.mainBody {
	width: 100%;
	height: 1500px;

	background-color: #585757;
}

.pdfPreviewWrapper {
	position: relative;
	width: 450px;
	height: 636px;
	overflow: hidden;
}

.pdfPreviewWrapper img {
	filter: blur(9px);
	width: 100%;
	transition: filter ease 300ms;
}

.pdfPreviewWrapper:hover img {
	filter: blur(0px);
}

.pdfPreviewWrapper > p {
	position: absolute;
	left: 24%;
	top: 39%;
	font-size: 23px;
	justify-items: center;
	text-align: center;
	z-index: 1;
	opacity: 1;
	pointer-events: none;
	transition: opacity ease 300ms;
}

.pdfPreviewWrapper:hover > p {
	opacity: 0;
}


/*----------------Cursor----------------*/
#cursorFollower {
	position: fixed;
	background-color: #424242;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	z-index: 1000;

	pointer-events: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	opacity: 0;
	transition: opacity ease 500ms;
}

#cursorFollower > p {
	position: absolute;
	font-size: 10px;
	bottom: 5%;
	color: #dcb2ff;
	opacity: 0;
	transition: opacity ease 300ms;
}

.mainBody:hover #cursorFollower {
	opacity: 1;
}

#cursorFollower > i {
	color: #dcb2ff;
	font-size: 20px;
	transform: rotate(315deg);
}

/*html:not(head):not(nav) {cursor: none;}
nav {cursor: default;}*/


@media (max-width: 750px) {
	.mainBody:hover #cursorFollower {
	opacity: 0;
}
}