.mainBody {
    background-color: #616161;
    height: calc(100vh - 104.8px); /*104.8 = navbar height*/
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#cardContainer {
	margin-top: 25px;
	width: 70%;
	position: relative;

	display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------Main Card---------------*/

#mainCard {
    background-color: #AE76FD; /*#7f39fb*/
    color: black;
    border-radius: 20px;

    box-shadow: 15px 20px 20px 0px #00000050;
    
    aspect-ratio: 3/4.5;
    width: 450px;

    display: flex; /*none by default*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
    z-index: 2;
}

#mainDisplay {
    font-size: 70px;
    position: absolute;
    top: 25%;
    background-color: #ae76fd;
    border: none;
    outline: none;
    width: 80%;
    text-align: center;
}


#mainCard input:focus, #titleCard input:focus {
    background-color: white;
    border: inset 3px #d2d2d2;
}

/*-----------Pinyin & Definition displays-----------*/
#inputGroup {
	position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
}

#inputGroup > div {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inputGroup input {
    background-color: #ae76fd;
    font-size: 24px;
    text-align: center;

    border: none;
    outline: none
}

#indexLabel {
    text-align: center;
    position: absolute;
    bottom: 5%;
}

#indexLabel:before {content: attr(data-current_index)}
#indexLabel:after {content: attr(data-set_length)}

/*Buttons:*/
#cardButtonGroup {
	position: absolute;
    bottom: 13%;
    display: flex;
    flex-direction: column;
}

#cardButtonGroup > button {
	background-color: #3c036b;
    border: none;
    border-radius: 20px;

    margin-bottom: 15px;
    padding: 12px 8px;

    font-size: 16px;
    color: white;
   	transition: background-color 200ms ease;
}

#cardButtonGroup > button:hover {
	background-color: #5f00ad;
}

#cardButtonGroup > button:active {
	background-color: #240042;
}

#automaticPinyin {
    background: none;
    border: none;
    font-size: 25px;

    position: absolute;
    right: 5%;

    cursor: pointer;
    transition: color 200ms ease;
}

#inputGroup:has(#pinyinInput:focus) #automaticPinyin {display: none}

#automaticPinyin:hover {color: #444444}
#automaticPinyin:active {color: #262626}

#codeOutput {
    width: 80%;
    height: 1em;

    background-color: white;
    border: inset 3px #d2d2d2;
    font-size: 26px;

    position: absolute;
    bottom: 9%;

    cursor: pointer;
    overflow: overlay;
}

#copyConfirmHint {
    width: 80px;
    height: 1em;
    padding: calc(25px - 0.5em) 0;
    
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 15px;
    
    position: absolute;
    bottom: 14.5%;
    right: 10%;

    opacity: 0;
}

#copyConfirmHint[data-show="true"] {
    animation: showCopyHint 3s;
}

@keyframes showCopyHint {
    0% {opacity: 0}

    15% {opacity: .85}

    65% {opacity: .85}

    100% {opacity: 0}
}

/*---------------Decorator cards---------------*/

.decoratorCard {
    background-color: #885cc7;
    border-radius: 20px;

    aspect-ratio: 3/4.5;
    width: 350px;

    position: absolute;
    top: calc(100% - (350px*4.5/3));
    left: calc(50% - 350px/2);

    transition: transform 300ms cubic-bezier(0.01, 1.06, 0.73, 0.95);
    z-index: 1;
}

#cardContainer:hover > #rightCard {transform: rotate(22deg) translate(180px, -150px)}
#cardContainer:hover > #leftCard {transform: rotate(-12deg) translate(-110px, -90px)}

#cardContainer[data-right_card="false"] > #rightCard {display: none}
#cardContainer[data-right_card="false"] > #rightCardButton {display: none}

#cardContainer[data-left_card="false"] > #leftCard {display: none}
#cardContainer[data-left_card="false"] > #leftCardButton {display: none}

/*---------------Card Navigator Buttons---------------*/
.cardNavigButton {
	background-color: black;
	border: none;
	border-radius: 50%;
	color: #dcb2ff;

	font-size: 22px;
    cursor: pointer;

	width: 60px;
    aspect-ratio: 1/1;

    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    z-index: 2;

    transition: transform 300ms cubic-bezier(0.01, 1.06, 0.73, 0.95),
    			background-color 200ms ease;
}

#cardContainer:hover > #rightCardButton {transform: translate(500%, 0)}
#cardContainer:hover >#leftCardButton {transform: translate(-500%, 0)}

.cardNavigButton:hover {
	background-color: #282828;
}

.cardNavigButton:active {
	background-color: #101010;
}

/*------------------------------------------------*/
/*-------------------Title Card-------------------*/
/*------------------------------------------------*/


#titleCard {
    background-color: #AE76FD; /*#7f39fb*/
    color: black;
    border-radius: 20px;

    box-shadow: 15px 20px 20px 0px #00000050;
    
    aspect-ratio: 3/4.5;
    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
    z-index: 2;
}

#setTitle {
    background-color: #ae76fd;
    font-size: 70px;
    font-family: "Harlow Solid";
    text-decoration: underline;

    border: none;
    outline: none;

    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
}

#iconWrapper {
    position: absolute;
    bottom: 35%;
    width: 100%;

    display: flex;
    justify-content: center;
}

#iconWrapper > button {
    position: absolute;
    right: 15%;
    top: 30%;
    background-color: #ae76fd;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 35px;
}

#setIcon {font-size: 80px}

#titleStartButton {
    position: absolute;
    bottom: 15%;

    border: none;
    border-radius: 15px;
    padding: 15px;

    background-color: #3c036b;
    color: white;
    font-size: 20px;
    cursor: pointer;

    transition: background-color 300ms ease;
}

#titleStartButton:hover {background-color: #5f00ad}
#titleStartButton:active {background-color: #240042}


/*------------------------------------------------*/
/*---------------------Import---------------------*/
/*------------------------------------------------*/

#importGroup {
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 2;

    height: 130px;
    padding: 15px;

    background-color: #E8DB7D;
    border-radius: 15px;
    box-shadow: 14px 15px 20px #00000050;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#importGroup > h1 {
    margin-bottom: 30px;
}

#importGroup > button {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 18px;

    border-radius: 20px;
    border: 1px solid black;

    background-color: #9affae;
}

#importGroup > button:hover {background-color: #7cd18d}
#importGroup > button:active {background-color: #5e9f6b}

/*------------------------------------------------*/
/*---------------------Mobile---------------------*/
/*------------------------------------------------*/

@media (max-width: 750px) {
    .mainBody {height: 1800px}

    #cardContainer {width: 85%}
    #mainCard {width: 100%}
    .decoratorCard {display: none}
}