* {
    scroll-behavior: smooth;
}

.mainBody {
	position: absolute;
	width: 100%;
	height: 1800px;
	background-color: #616161;

	display: flex;
    flex-direction: column;
    align-items: center;
}

#textInputContainer {
    margin: 30px 0 30px 0;
}

#textInputContainer > p {
    color: white;
    font-size: 18px;
}

#textInput {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: overlay;

	resize: none;
	border: 2px #a3a3a3 solid;
    border-radius: 5px;
    font-size: 22px;
}

#textInput:focus-visible {outline: none;} /*remove default outline*/

#textOutput {
	margin-top: 30px;
    width: 77%;
    height: 500px;

    background-color: #a7a7a7;
    padding: 3%;
    white-space: pre;
    overflow: overlay;
}

#textOutput > span {
	font-size: 24px;
}


.importantButton:hover {
    background-color: #e65d5d;
}


.importantButton:active {
    left: 5px;
    top: 5px;
    box-shadow: none;
}

.importantButton {
	position: relative;
	border: 3px solid #2c3a6a;;
    border-radius: 8px;
    width: 150px;
    height: 56px;
    font-size: 23px;
    background-color: #FF6B6B;
    color: #2c3a6a;;
    box-shadow: 5px 5px;
}

.importantButtonContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form {
    color: #2c3a6a;
    background-color: #FF6B6B;
    padding: 15px 45px;
    border-radius: 8px;
    border: 3px solid #2c3a6a;
    margin-bottom: 25px;
}

form > div {width: fit-content;}
form > div:hover > label {text-decoration: underline;}

form > p {
    font-size: 20px;
    border-bottom: solid 2px #2c3a6a;
    right: 20px;
    margin-bottom: 8px;
    position: relative;
}